svg(viewport='0 0 300 300')
  text.Merry(x='150', y='50') Merry
  text.Christmas(x='150', y='120') Christmas

.Snow
  - n = 55
  while n--
    .Snow-flake
    
.Love
  .Love-heart ❤
  .Love-text Aranja