@import url(https://fonts.googleapis.com/css?family=Calligraffitti);

$c: (#a32300, #fff, #eee, #765); $d: 300; $n: 55;

@function draw($delay) {
  @return s 2s $delay linear forwards;
}

@keyframes s {
  0% { stroke-dasharray: 0 $d; }
  100% { stroke-dasharray: $d 0; }
}

@keyframes f {
  0% { transform: translateY(-40px); opacity: .5; }
  50% { transform: scale(1.5); opacity: .1; }
  100% { transform: translateY(50vh); opacity: 0; }
}

html { height: 100%; }

body {
  background: nth($c, 1);
  font-family: 'Calligraffitti';
  height: 100%;
  text-align: center;
}

svg {
  margin-top: calc(50vh - 75px);
  width: 300px;
}

.Merry, .Christmas {
  fill: none;
  stroke: nth($c, 2);
  text-shadow: 0 0 14px nth($c, 1);
  stroke-width: 4;
  stroke-dasharray: 0 100;
  text-anchor: middle
}

.Merry {
  font-size: 44px;
  
  @for $i from 1 through 5 {
    tspan:nth-child(#{$i}) {
      animation: draw($delay: $i * 1s);
    }
  } 
}

.Christmas {
  font-size: 64px;
  stroke-width: 6;
  
  @for $i from 1 through 9 {
    tspan:nth-child(#{$i}) {
      animation: draw($delay: (5 * 1s) + $i * 1s);
    }
  }
}

.Snow {
  position: absolute; filter: blur(1px);
  top: 0; left: 0; width: 100%; font-size: 0; height: 100%;
  overflow: hidden;
  
  &-flake {
    animation: f 4s linear infinite;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    margin: 0 10px 0;
    width: 10px; height: 10px;
    transform: translateY(-40px); opacity: .5;
    
    @for $i from 1 through $n {
      &:nth-child(#{$i}) {
        animation-delay: - random() * 4s;
      }
    }
  }
}

.Love {
  position: absolute; background: #fff;
  bottom: 0; height: 44px; width: 100%; left: 0; color: nth($c, 1);
  
  &-heart, &-text {
    display: inline-block;
    font-family: sans-serif;
    line-height: 44px;
  }
}